*{
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
}
.container{
    max-width: 80%;
    margin: 0 auto;
}
.nav{
    /* border: 1px solid red; */
    height: 5em;
    padding-left: 15px;
    display: flex;
    align-items: center;
}
.nav-toggle{
    display: none;
}
.nav-logo{
    width: 50%;
    padding-left: 15px;
}
.nav-logo>h1{
    color: green;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
}
.nav-logo>h1>span{
    color: rgba(24, 62, 127, 0.825);
}
.nav-items{
    width:50%;
    display: flex;
    align-items: center;
}
.items{
    list-style: none;
    flex-grow: 1;
    padding: 1em;
    display: flex;
    justify-content: space-around;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgba(24, 62, 127, 0.825);
}
.item{
    font-size: 17px;
    cursor: pointer;
}
.nav-btn{
    flex-grow: 1;
    text-align: center;
}
.get-started-btn{
    padding: 0.4em 1em;
    font-size: 20px;
    font-weight: 700;
    color: green;
    background-color: white;
    border: 1px solid green;
    border-radius: 6px;
    cursor: pointer;
}
.get-started-btn:hover{
    background-color: rgb(171, 219, 171);
}

.header-gradient{
    background-position: 270% 76%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('./assests/Ellipse\ 1.png');
}
.header-section{
    height: auto;
    margin-top: 5em;
}
.header{
    /* border: 1px solid red; */
    display: flex;
    
}
.header-body{
    padding: 15px 20px 15px 15px;
    width: 60%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.hb-heading{
    font-size: 3.2em;
    padding: 5px;
    color: green;
}
.hb-para{
    padding: 5px;
    color: #545353;
    margin-bottom: 3em;
    width: 50%;
}
.header-btn{
    background-color:rgba(24, 62, 127, 0.825);
    border: 1px solid rgba(24, 62, 127, 0.596) ;
    color: white
}
.header-btn:hover{
    background-color:#333;
    border: 1px solid #666 ;

    color: white
}
.header-img{
    width: 40%;
    padding: 15px 20px 15px 15px;
}
.header-img>img{
    width: 100%;
    mix-blend-mode: multiply;
}


.comapnies{
    margin-top: 4em;
}
.section-heading{
    text-align:center;
    padding: 20px;
    margin-bottom: 1.3em;
    color: #1a74cd;
    font-size: 28px;
    /* text-decoration: underline;
    text-underline-position: under; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
}
.companies-logos{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 65px;
} 
.logo>img{
    width: 117px;
    filter: grayscale(1);
}
.logo>img:hover{
    filter: grayscale(0);
}


.process-flow{
    margin-top: 4em;
}

.flow-cards{
    display: flex;
    gap: 20px;
}
.card{
    flex: 0 0 32.3%;
    /* max-width: 33.3%; */
    text-align: center;
    padding-top: 25px;
    /* box-shadow: 10px 14px 50px 0px rgba(12,11,11,0.45);
-webkit-box-shadow: 10px 14px 50px 0px rgba(12,11,11,0.45);
-moz-box-shadow: 10px 14px 50px 0px rgba(12,11,11,0.45); */
}
.card-logo{
    text-align: center;
}
.card-logo>img{
    width: 60px;
    height: 60px;
    outline: 2px solid green;
    outline-offset: 8px;
    border-radius: 50%;
}
.card-content{
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
}
.card-content>h3,p{
    padding: 10px;
}
.card-content>p{
    color: #545353;
}
.card-content>h3{
    color: rgba(24, 62, 127, 0.825);
}

.footer-section{
    margin-top: 2em;
    background-color:#5dc3e0 ;
    height: 50vh;
}
.footer-content{
    display: flex;
    align-items: center;
    height: 45vh;
}
.footer-logo{
    padding: 0;
    flex: 0 0 27.3%;

}
.quick-links{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.links{
    list-style: none;
}
.links>li>a{
    text-decoration: none;
    color: rgba(24, 62, 127, 0.825);
}
.links>li{
    padding: 5px;
    margin: 5px 0
}
.footer-licence{
    text-align: center;
    color: white;
}




@media screen and (max-width:787px) {
    .nav-items{
        display: none;
    }
    .nav{
        justify-content: space-between;
    }
    .nav-toggle{
        display: block;
        font-size: 25px;
        color: rgba(24, 62, 127, 0.825);
    }
    .nav-toggle:hover{
        color: #073462;
        cursor: pointer;
    }
    .responsive{
        .nav-items{
            display: block;
            position: absolute;
            width: 80%;
            top: 10%;
            background-color: #8ad8ee;
        }
        .items{
            flex-direction: column;
            align-items: center;
        }
        .item{
            font-size: 25px;
            padding: 10px 0;
        }
        .nav-btn{
            margin-bottom: 15px;
        }

    }



    .header-gradient{
        background-position-x: 50%;
    }
    .header{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .header-body{
        width: 100%;
        padding: 0px 25px;
    }
    .hb-heading{
        font-size: 2em;
    }
    .hb-para, .header-img{
        width: 100%;
    }

    .flow-cards{
        display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }
    .card{
        flex: 0 0 50%;
        max-width: 50%;
    }
    .footer-content{
        justify-content: space-around;
    height: 40vh;
    }
    
}